.profile-card {
  border: 1px solid #ddd;
  background: linear-gradient(135deg, #f0f4ff, #e6eaff);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
  height: auto;
  margin: 20px auto;
  border-radius: 12px;
  font-family: 'Arial', sans-serif;


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.profile-card-title {
  text-align: center;
  margin-top: 180px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}



.profile-card div {
  margin-bottom: 15px;
}

.profile-card label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}

.profile-card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-card input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
}


button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


button[type="submit"] {
  background-color: #28a745;
}


.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

button[type="button"]:not(.edit-button) {
  background-color: #dc3545;
}

button[type="button"]:not(.edit-button):hover {
  background-color: #b52d3a;
}

.modal-content form label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}

.modal-content form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.modal-content form input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.25);
}
