<div class="lake-container">
  <div class="lake-header">
    <h1 class="lake-title">Felfedezhető tavak</h1>
    <div class="filter-section">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Keresés tó neve alapján..." [(ngModel)]="searchText" (ngModelChange)="applyFilter()"/>
      </div>
      <div class="select-wrapper">
        <select id="county" [(ngModel)]="selectedCounty" (change)="applyFilter()">
          <option value="">Összes megye</option>
          @for (county of counties; track $index) {
          <option [value]="county._id">{{ county.name }}</option>
          }
        </select>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>

  <div class="lake-grid">
    @for (lake of filteredLakes; track $index) {
    <div class="lake-card">
      <div class="card-image">
        <img [src]="lake.img" alt="{{ lake.name }}" />
        <div class="card-badge">{{ getCatchCount(lake._id) }} <i class="fas fa-fish"></i></div>
      </div>
      <div class="card-content">
        <h3>{{ lake.name }}</h3>
        <div class="card-details">
          <p><i class="fas fa-map-marker-alt"></i> {{ lake.location }}</p>
          <p><i class="fas fa-ruler-vertical"></i> {{ lake.water_depth }} méter</p>
        </div>
        <button class="card-button" (click)="viewDetails(lake?._id)">
          <span>Részletek</span>
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
    }
  </div>

  @if (!disablePagination) {
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">
      <i class="fas fa-chevron-left"></i>
    </button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
  }
</div>
