<div class="login-container">
  <div class="login-wrapper">
    <div class="login-card">
      <div class="login-header">
        <img src="lake_search_logo.png" alt="Logo" class="logo">
        <h2>Bejelentkezés</h2>
        <p>Kérjük, adja meg belépési adatait</p>
      </div>

      <form (ngSubmit)="login()" class="login-form">
        <div class="form-group">
          <label for="email">Email cím</label>
          <div class="input-with-icon">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" placeholder="Adja meg az email címét" [(ngModel)]="model.email" name="email"
              required autocomplete="email" [class.is-invalid]="isSubmitted && !model.email">
          </div>
        </div>

        <div class="form-group">
          <label for="password">Jelszó</label>
          <div class="input-with-icon">
            <i class="fas fa-lock"></i>
            <input type="{{ passwordFieldType }}" id="password" placeholder="Adja meg a jelszavát"  [(ngModel)]="model.password"
              name="password" required autocomplete="current-password" [class.is-invalid]="isSubmitted && !model.password">
            <i [class]="passwordFieldType === 'password' ? 'fas fa-eye-slash' : 'fas fa-eye'"
               class="password-toggle" (click)="togglePasswordVisibility()"></i>
          </div>
          <a routerLink="/forgot-password" class="forgot-password">Elfelejtett jelszó?</a>
        </div>

        <button type="submit" class="login-button">Bejelentkezés</button>

        <p class="register-link">Nincs még fiókja? <a routerLink="/register">Regisztráció</a></p>
      </form>

      @if (message) {
        <div class="message-alert" [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }">
          <i [class]="isSuccess ? 'fas fa-check-circle' : 'fas fa-exclamation-circle'"></i>
          {{ message }}
        </div>
      }
    </div>
  </div>
</div>
