<div class="lake-details">
  <h2>Új fogás felvétele</h2>
  <div class="catch-log">
    <div class="form-group">
      <label for="lake">Válassz tavat:</label>
      <select id="lake" [(ngModel)]="selectedLake" class="form-control">
        @for (lake of availableLakes; track $index) {
          <option [value]="lake._id">{{ lake.name }}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="fish">Válassz halat:</label>
      <select id="fish" [(ngModel)]="selectedFish" class="form-control">
        @for (fish of availableFish; track $index) {
          <option [value]="fish._id">{{ fish.name }}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="weight">Súly (kg):</label>
      <input id="weight" type="number" [(ngModel)]="fishWeight" [min]="0.1" [max]="generalMaxWeight" placeholder="Add meg a súlyt kg-ban" class="form-control">
    </div>
    <div class="form-group">
      <label for="length">Hossz (cm):</label>
      <input id="length" type="number" [(ngModel)]="fishLength" [min]="1" [max]="generalMaxLength" placeholder="Add meg a hosszát cm-ben" class="form-control">
    </div>
    <div class="form-group">
      <label for="imageUpload">Kép feltöltése:</label>
      <div class="file-upload-container">
        <label class="file-upload-label">
          <input id="imageUpload" type="file" (change)="onFileSelected($event)" accept="image/*" class="file-upload-input">
          <div class="file-upload-design" [class.has-image]="imagePreview">
            @if (!imagePreview) {
              <div  class="upload-instructions">
                <i class="fas fa-cloud-upload-alt"></i>
                <span class="file-upload-text">Kattints a kép feltöltéséhez</span>
              </div>
            }
            @if (imagePreview) {
              <div  class="image-preview-container">
                <img [src]="imagePreview" alt="Kép előnézet" class="image-preview">
                <button type="button" class="image-remove" (click)="removeImage()">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            }
          </div>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="date">Dátum:</label>
      <input id="date" type="date" [max]="maxDate" [(ngModel)]="catchDate" class="form-control">
    </div>
    <div class="form-group">
      <label for="method">Válassz módszert:</label>
      <select id="method" [(ngModel)]="selectedMethod" class="form-control">
        @for (method of availableMethod; track $index) {
          <option [value]="method._id">{{ method.name }}</option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="bait">Csali:</label>
      <input id="bait" type="text" [(ngModel)]="bait" placeholder="Add meg a csalit" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Leírás:</label>
      <textarea id="description" [(ngModel)]="description" placeholder="Add meg a fogás leírását" class="form-control"></textarea>
    </div>
    <div class="form-group checkbox-container">
      <div class="checkbox-wrapper">
        <input id="takeCatch" type="checkbox" [(ngModel)]="takeCatch" class="form-check-input">
        <label for="takeCatch" class="form-check-label">Elviszem a fogást</label>
      </div>
    </div>

    <button (click)="saveCatch()" class="save-button">Mentés</button>
  </div>
  @for (error of errorMessages; track $index) {
    <div class="alert alert-danger">
      {{ error }}
    </div>
  }
</div>


<div id="successModal" class="modal" [ngClass]="{'show': isModalOpen}">
  <div class="modal-content">
    <div class="icon-container">
      <i class="fas fa-check-circle"></i>
    </div>
    <p>A fogás sikeresen mentve!</p>
    <button (click)="closeModal()">OK</button>
  </div>
</div>


