<div class="catches-container">
  <div class="catches-header">
    <button class="back-button" (click)="goBack()">Vissza</button>
    <h1>Fogások</h1>
  </div>

  @if (catches.length > 0) {
  <div>
    <div class="catch-table-container">
      <table class="catch-table">
        <thead>
          <tr>
            <th>Kép</th>
            <th>Hal neve</th>
            <th>Méret (cm)</th>
            <th>Súly (kg)</th>
            <th>Dátum</th>
            <th>Felhasználó</th>
          </tr>
        </thead>
        <tbody>
          @for (catchItem of catches; track $index) {
          <tr (click)="openModal(catchItem)">
            <td data-label="Kép" style="flex-direction: column; align-items: flex-start;">
              <img [src]="catchItem.img || catchItem.fish?.img" alt="{{ catchItem.fish?.name }}" class="catch-image">
            </td>
            <td data-label="Hal neve">{{ catchItem.fish?.name }}</td>
            <td data-label="Méret (cm)">{{ catchItem.length }}</td>
            <td data-label="Súly (kg)">{{ catchItem.weight }}</td>
            <td data-label="Dátum">{{ catchItem.date | date:'yyyy. MM. dd.'}}</td>
            <td data-label="Felhasználó">{{ catchItem.user?.name }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }

  @if (selectedCatch) {
    <div class="modal" >
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ selectedCatch.fish?.name }}</h2>
        <img [src]="selectedCatch.img || selectedCatch.fish?.img" alt="{{ selectedCatch.fish?.name }}" class="catch-image">
        <p><strong>Méret:</strong> {{ selectedCatch.length }} cm</p>
        <p><strong>Súly:</strong> {{ selectedCatch.weight }} kg</p>
        <p><strong>Dátum:</strong> {{ selectedCatch.date | date:'yyyy. MM. dd.' }}</p>
        <p><strong>Felhasználó:</strong> {{ selectedCatch.user?.name }}</p>
        <p><strong>Módszer:</strong> {{ selectedCatch.method?.name }}</p>
        <p><strong>Csali:</strong> {{ selectedCatch.bait }}</p>
        <p><strong>Leírás:</strong> {{ selectedCatch.description }}</p>
      </div>
    </div>
   }
</div>
