.container {
  padding: 20px;
  margin-top: 50px;
}


.lake-details-card {
  background: #e0f7fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-align: center;
}

.lake-details-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.lake-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.typical-fish-section {
  margin-top: 20px;
}

.typical-fish-section h3 {
  margin-bottom: 10px;
  color: #0288d1;
}

h1,h3{
  margin-bottom: 10px;
  color: #0288d1;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

p strong {
  color: #0288d1;
  font-weight: bold;
}

p em {
  color: #f57c00;
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  margin-top: 10px;
}

.highlight-box {
  background-color: lightblue;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: justify;
}

.fish-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fish-card {
  margin: 10px;
  text-align: center;
}

.fish-image {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #0288d1;
  object-fit: cover;
  margin-bottom: 5px;
}



@media (max-width: 768px) {
  .lake-details-card {
    padding: 20px;
  }

  .back-button  {
    padding: 10px 20px;
    font-size: 14px;
  }

  .catch-button{
    padding: 10px 20px;
    font-size: 14px;
  }

  .ticket-table th, .ticket-table td {
    font-size: 14px;
    padding: 10px;
  }

  .fish-image {
    width: 120px;
    height: 80px;
  }

  .link-box {
    padding: 10px;
    font-size: 14px;
  }


}

@media (max-width: 480px) {
  .lake-details-card {
    padding: 15px;
  }

  .back-button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .catch-button{
    padding: 10px 20px;
    font-size: 14px;
  }

  .ticket-table th, .ticket-table td {
    font-size: 12px;
    padding: 8px;
  }

  .lake-image {
    max-width: 100%;
  }

  .fish-image {
    width: 100px;
    height: 70px;
  }

  .link-box {
    padding: 8px;
    font-size: 10px;
  }


}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  color: #0288d1;
  letter-spacing: 1px;
}

.scroll-to-top {
  display: block;
  margin: 20px 0 0 auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

.route-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.route-button:hover {
  background-color: #218838;
}




.opening-hours-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid black;
}

.opening-hours-table th {
  background: #0288d1;
  color: white;
  padding: 14px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid black;
}

.opening-hours-table td {
  background: #b3e5fc;
  padding: 12px;
  font-size: 15px;
  color: #333;
  border: 1px solid black;
}



.ticket-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}


.ticket-table th {
  background: #0288d1;
  color: white;
  padding: 14px;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid black;
}


.ticket-table td {
  background: #b3e5fc;
  padding: 12px;
  font-size: 15px;
  color: #333;
  border: 1px solid black;
}



.back-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.back-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.catch-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.catch-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}


.link-box {
  border: 2px solid #0288d1;
  border-radius: 10px;
  padding: 15px;
  background-color: #e0f7fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
  word-wrap: break-word;
}

.styled-link {
  text-decoration: none;
  color: #0288d1;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
  word-wrap: break-word;
  display: inline-block;
}

.styled-link:hover {
  color: #ffffff;
  background-color: #0288d1;
  padding: 5px 10px;
  border-radius: 5px;
}

.margin{
  margin-top: 30px;
  margin-bottom: 50px;
}
















