<p>register works!</p><div class="register-background">
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="register-box p-4 p-md-5">
      <h2>Regisztráció</h2>

      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="input-box mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Felhasználónév" [(ngModel)]="user.name" name="username"
              required #username="ngModel" [class.is-invalid]="isSubmitted && username.invalid">
          </div>
        </div>

        <div class="input-box mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="Email cím" [(ngModel)]="user.email" name="email"
              required #email="ngModel" [class.is-invalid]="isSubmitted && email.invalid">
          </div>
        </div>

        <div class="input-box mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Jelszó" [(ngModel)]="user.password" name="password"
              required  #password="ngModel" [class.is-invalid]="isSubmitted && password.invalid">
          </div>
        </div>

        <div class="input-box mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Jelszó megerősítése" [(ngModel)]="user.confirmPassword"
              name="confirmPassword" required #confirmPassword="ngModel"
              [class.is-invalid]="isSubmitted && confirmPassword.invalid">
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Regisztráció</button>
        <p class="login-link mt-3">Már van fiókja? <a routerLink="/login">Bejelentkezés</a></p>
      </form>
       @if (message) {
        <div  [ngClass]="{ 'success-message': isSuccess, 'error-message': !isSuccess }">
          {{ message }}
        </div>
       }


    </div>
  </div>
  </div>
  <router-outlet></router-outlet>


